**/.idea
**/.vscode
/authelia/postgres
/authelia/config
/authelia/redis
/caddy/caddy_config
/caddy/caddy_data
/caddy/geoip_databases
/services/docker-registry/auth
/services/docker-registry/data
/services/vpn-server/wireguard
/services/vpn-server/exporter_name_mappings.toml
/services/vscode-server/config
/monitoring/prometheus_data
/monitoring/grafana_data
/monitoring/loki_data
/external-services/watchyourlan/data
/external-services/rustdesk/rustdesk_data
/external-services/rustdesk/server_config.txt
/sites/wordpress-test/dbdata
/sites/wordpress-test/certbot-etc
/sites/wordpress-test/wordpress
**/secrets.env