# Global configs
{
    metrics
    admin localhost:2019
    auto_https off
}

# Metrics endpoint port
:9180 {
    route {
        @not_server_pi not remote_ip {$SVPI1_IP_ADDR}
        respond @not_server_pi "Forbidden" 403

        handle /metrics {
            metrics /metrics
        }

        handle /node-metrics {
            rewrite * /metrics
            reverse_proxy node-exporter:9100
        }

        handle /cadvisor-metrics {
            rewrite * /metrics
            reverse_proxy cadvisor:8080
        }

        handle /alloy-metrics {
            rewrite * /metrics
            reverse_proxy caddy-alloy:12345
        }

        respond "Not found" 404
    }
}

# Logging
(log_common) {
    log {
        output file /data/logs/caddy_access.log {
            roll_size 20mb
            roll_keep 5
        }
    }
}


# Proxy routes
http://two-whoami.{$MY_DOMAIN} {
    import log_common
    reverse_proxy whoami:80
}

http://webmail.{$MY_DOMAIN} {
    import log_common
    reverse_proxy roundcube:80 {
        header_up X-Forwarded-Proto https
    }
}