# Global configs
{
    servers {
        metrics
    }

    admin localhost:2019
    auto_https off
}

# Metrics endpoint port
:9180 {
    metrics /metrics
}

# Logging
(log_common) {
    log {
        output file /data/logs/caddy_access.log {
            roll_size 20mb
            roll_keep 5
        }
    }
}


# Proxy routes
http://two-whoami.{$MY_DOMAIN} {
    import log_common
    reverse_proxy whoami:80
}

http://webmail.{$MY_DOMAIN} {
    import log_common
    reverse_proxy roundcube:80 {
        header_up X-Forwarded-Proto https
    }
}
